In [1]:
import sqlite3
from sqlite3 import Error
import numpy as np
import io
from io import BytesIO
from PIL import Image
from skimage import transform

In [2]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
    except Error as e:
        print(e)

    return conn

In [9]:
def select_all_tasks(conn,name):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    cur.execute("SELECT * FROM images WHERE name=?", (name,))
    rows = cur.fetchall()
    
    return rows[1]

#     for row in rows:
#         print("Id = ", row[0], "Name = ", row[1])
#         name = row[1]
#         photo = row[2]
#         photoPath = "C:/Users/shihab/Desktop/flask_almond_classifier/static/uploads//" + name
#         return row[1]

    

#         photo_img = Image.open(photoPath)
#         display(photo_img)
#     cur.close

#

In [10]:
def load(filename):
    photoPath = "C:/Users/shihab/Desktop/flask_almond_classifier/static/uploads//" + filename
    np_image = Image.open(photoPath)
    np_image = np.array(np_image).astype('float32')/255
    np_image = transform.resize(np_image, (150, 150, 3))
    np_image = np.expand_dims(np_image, axis=0)
    return np_image

In [11]:
db = r'C:\Users\shihab\Desktop\flask_almond_classifier\images.db'
conn = create_connection(db)

with conn:
    print("Query all tasks")
    print(select_all_tasks(conn,1))

Query all tasks

IndexError: list index out of range

In [ ]:
class Image(db.Model):
    __tablename__ = 'images'

    id = db.Column(db.Integer, primary_key=True)
    name = db.Column(db.String())
    img_filename = db.Column(db.String())
    img_data = db.Column(db.LargeBinary)

    def __repr__(self):
        return '<image id={},name={}>'.format(self.id, self.name)


def get_image(the_id):
    #return Image.query.filter(Image.id == the_id).first()
    return Image.query.get_or_404(the_id)

In [ ]:
import sqlite3

def writeTofile(data, filename):
    # Convert binary data to proper format and write it on Hard Disk
    with open(filename, 'wb') as file:
        file.write(data)
    print("Stored blob data into: ", filename, "\n")

def readBlobData(id):
    try:
        sqliteConnection = sqlite3.connect('images.db')
        cursor = sqliteConnection.cursor()
        print("Connected to SQLite")

        sql_fetch_blob_query = """SELECT * from images where name = ?"""
        cursor.execute(sql_fetch_blob_query, (id,))
        record = cursor.fetchall()
        for row in record:
            print("Id = ", row[0], "Name = ", row[1])
            name = row[1]
            photo = row[2]

            print("Storing employee image and resume on disk \n")
            photoPath = "C:/Users/shihab/Desktop/flask_almond_classifier/static/uploads//" + name + ".jpg"
            writeTofile(photo, photoPath)

        cursor.close()

    except sqlite3.Error as error:
        print("Failed to read blob data from sqlite table", error)
    finally:
        if sqliteConnection:
            sqliteConnection.close()
            print("sqlite connection is closed")

In [ ]:
readBlobData(1)

In [ ]:
image_data = Image.query.filter_by(name=filename).first_or_404()

In [ ]:
almond_google.jpg